body {
    color: rgb(102, 100, 100);
    font-size: 20px;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

#navbar {
    width: 320px;
    padding: 2rem 1rem 2rem 0;
    position: fixed;
    display: flex;
    flex-direction: column;
}

#navbar>header {
    color: black;
    padding-left: 2rem;
    font-size: 30px;
}

#navbar ul {
    padding: 0;
    text-decoration: none;
}

#navbar ul li {
    border-top: 1px solid rgba(44, 44, 44, 0.692);
    list-style-type: none;
    padding: 0.7rem 1rem 0.7rem 3rem;
    font-size: 20px;
    list-style: none;


}

.nav-link {
    text-decoration: none;
    color: rgb(102, 100, 100);
}

#main-doc {
    position: absolute;
    margin-left: 320px;
    padding: 1rem 3rem;
    border-left: 2px solid rgba(44, 44, 44, 0.692);
}

#main-doc header {
    color: black;
    font-size: 30px;
    margin-top: 3rem;
}

code {
    background-color: rgb(243, 243, 243);
    padding: 1rem;
}

@media screen and (max-width: 800px) {
    body {
        display: block;
    }

    #navbar {
        /* display: none; */
        position: relative;
        padding: auto;
        margin: auto;
        display: inline-block; 
    }
    #nav-list{
        display: none;
        position: absolute;
        background-color: #c5c1c1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        
    }
    #navbar:hover #nav-list{
        display: block; 
        
    }

    #main-doc {
        padding: auto;
        margin: auto;
    }

}